#buttonBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-bottom: 20px;
}

#btnChange {
   height: 30px;
   width: 80px;
   background: #ad0000; /* This removes the default background */
   color: #fff;
   border: 1px solid black;
   border-radius: 50px; /* This gives our button rounded edges */
   font-size: 10px;
   cursor: pointer;
}

body {
  background-image: url("images/gutenberg-background-transparent.png");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

h3 {
  font-weight: bold;
  text-align: center;
  font-family: Georgia;
}
